html {
    background-color: rgb(244, 244, 244);
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 368px;
    min-width: 100px;
    padding-top: 2%;
    padding-bottom: 4%;
    width: 99.375%;
    width: -webkit-calc(20% - 2px);
    width: calc(20% - 2px);
    border-radius: 50%;
}