html {
    background-color: rgb(36, 36, 36);
    /*244,244,244*/
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 368px;
    min-width: 100px;
    padding-top: 2%;
    padding-bottom: 4%;
    width: 99.375%;
    width: -webkit-calc(20% - 2px);
    width: calc(20% - 2px);
    border-radius: 20%;
}

h1 {
    font-family: "Rock Salt", cursive;
    font-style: normal;
    color: rgb(255, 255, 255); /*0, 149, 255*/
    padding-top: 3%;
}

header {
    background-image: url("headerBackground.jpeg");
    background-size: cover;
    border-radius: 2%;
    height: 15vh;
}

a {
    margin: 0 auto;
    padding-top: 2%;
    font-size: 2.4vw;
    border: 1vh black;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

a:visited {
    margin: 0 auto;
    padding-top: 2%;
    font-size: 2.4vw;
    border: 1vh black;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.socialbutton {
    margin: 0 auto;
    width: 36vh;
    background-color: black;
    background-size: cover;
    margin-bottom: 4%;
    margin-top: 4%;
    border-radius: 10%;
    padding: 2%;
}

.comicPics {
    display: flex;
    justify-content: space-around;
    gap: 2px;
}

.comicPics img {
    width: 30%;
    height: auto;
    border-radius: 1%;
}

p {
    font-size: 2.4vw;
    color: rgb(255, 255, 255);
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.comicsPics {
    display: flex;
    justify-content: space-around;
    gap: 2px;
}

.comicsPics img {
    width: 30%;
    height: auto;
    border-radius: 1%;
}